<b><strong>{{title}}</strong></b>

Страна: {% if country %}<b><strong>{{ country }}</strong></b>{% endif %}
Регион: {% if region %}<b><strong>{{ region }}</strong></b>{% endif %}
Субъект РФ: {% if RF_subject %}<b><strong>{{ RF_subject }}</strong></b>{% endif %}
Река: {% if river %}<b><strong>{{ river }}</strong></b>{% endif %}
Высота: {% if height %}<b><strong>{{ height }}</strong></b>{% endif %}
Ширина: {% if width %}<b><strong>{{ width }}</strong></b>{% endif %}{{ '\n' }}
<a href="{{url}}">Больше информации о водопаде</a>



